In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [82]:
world_cup=pd.read_csv('wcdata.csv')

In [83]:
world_cup

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current rank
0,England,2,6,1,2,2,3
1,South Africa,2,6,0,0,2,4
2,West Indies,1,6,2,2,4,10
3,Pakistan,1,6,1,2,4,1
4,New Zealand,1,6,0,0,2,6
5,Sri Lanka,1,6,1,3,4,7
6,Afghanistan,2,4,0,0,0,8
7,Australia,1,6,0,0,3,2
8,Bangladesh,2,6,0,0,0,9
9,India,2,6,1,2,3,5
10,Ireland,2,5,0,0,0,14
11,Netherlands,1,3,0,0,0,16

In [84]:
results=pd.read_csv('results.csv')

In [85]:

results.head()

,Team_1,Team_2,Winner,Margin,Ground,Match Date,Scorecard
0,Afghanistan,Ireland,Ireland,5 wickets,Colombo (PSS),"Feb 1, 2010",T20I # 128
1,Kenya,Scotland,Kenya,10 wickets,Nairobi (Gym),"Feb 1, 2010",T20I # 129
2,Canada,Ireland,Canada,4 runs,Colombo (SSC),"Feb 3, 2010",T20I # 130
3,New Zealand,Bangladesh,New Zealand,10 wickets,Hamilton,"Feb 3, 2010",T20I # 131
4,Afghanistan,Canada,Afghanistan,5 wickets,Colombo (SSC),"Feb 4, 2010",T20I # 132

In [86]:
results.count()

Team_1        878
Team_2        878
Winner        878
Margin        846
Ground        878
Match Date    878
Scorecard     878
dtype: int64

In [87]:
worldcup_teams = ['England', ' South Africa', 'West Indies', 
            'Pakistan', 'New Zealand', 'Sri Lanka', 'Afghanistan', 
            'Australia', 'Bangladesh', 'India','Netherlands','Ireland']

In [88]:
worldcup_teams

['England',
 ' South Africa',
 'West Indies',
 'Pakistan',
 'New Zealand',
 'Sri Lanka',
 'Afghanistan',
 'Australia',
 'Bangladesh',
 'India',
 'Netherlands',
 'Ireland']

In [89]:
df_teams_1 = results[results['Team_1'].isin(worldcup_teams)]
df_teams_1

,Team_1,Team_2,Winner,Margin,Ground,Match Date,Scorecard
0,Afghanistan,Ireland,Ireland,5 wickets,Colombo (PSS),"Feb 1, 2010",T20I # 128
3,New Zealand,Bangladesh,New Zealand,10 wickets,Hamilton,"Feb 3, 2010",T20I # 131
4,Afghanistan,Canada,Afghanistan,5 wickets,Colombo (SSC),"Feb 4, 2010",T20I # 132
6,Australia,Pakistan,Australia,2 runs,Melbourne,"Feb 5, 2010",T20I # 134
7,Afghanistan,Ireland,Afghanistan,13 runs,Dubai (DSC),"Feb 9, 2010",T20I # 135
9,Afghanistan,Scotland,Afghanistan,14 runs,Abu Dhabi,"Feb 10, 2010",T20I # 137
12,Ireland,Scotland,Ireland,37 runs,Dubai (DSC),"Feb 11, 2010",T20I # 140
13,Afghanistan,Netherlands,Netherlands,4 wickets,Dubai (DSC),"Feb 12, 2010",T20I # 141
14,Ireland,Netherlands,Ireland,65 runs,Dubai (DSC),"Feb 13, 2010",T20I # 142
15,Afghanistan,Ireland,Afghanistan,8 wickets,Dubai (DSC),"Feb 13, 2010",T20I # 143
16,England,Pakistan,England,7 wickets,Dubai (DSC),"Feb 19, 2010",T20I # 144
17,England,Pakistan,Pakistan,4 wickets,Dubai (DSC),"Feb 20, 2010",T20I # 145
18,Australia,West Indies,Australia,38 runs,Hobart,"Feb 21, 2010",T20I # 146
19,Australia,West Indies,Australia,8 wickets,Sydney,"Feb 23, 2010",T20I # 147
20,New Zealand,Australia,Australia,6 wickets,Wellington,"Feb 26, 2010",T20I # 148
21,New Zealand,Australia,tied,NaN,Christchurch,"Feb 28, 2010",T20I # 149
22,West Indies,Zimbabwe,Zimbabwe,26 runs,Port of Spain,"Feb 28, 2010",T20I # 150
23,New Zealand,Sri Lanka,New Zealand,2 wickets,Providence,"Apr 30, 2010",T20I # 151
24,West Indies,Ireland,West Indies,70 runs,Providence,"Apr 30, 2010",T20I # 152
25,Afghanistan,India,India,7 wickets,Gros Islet,"May 1, 2010",T20I # 153
26,Bangladesh,Pakistan,Pakistan,21 runs,Gros Islet,"May 1, 2010",T20I # 154
27,India,South Africa,India,14 runs,Gros Islet,"May 2, 2010",T20I # 155
28,Australia,Pakistan,Australia,34 runs,Gros Islet,"May 2, 2010",T20I # 156
29,Sri Lanka,Zimbabwe,Sri Lanka,14 runs,Providence,"May 3, 2010",T20I # 157
30,West Indies,England,West Indies,8 wickets,Providence,"May 3, 2010",T20I # 158
31,New Zealand,Zimbabwe,New Zealand,7 runs,Providence,"May 4, 2010",T20I # 159
32,England,Ireland,no result,NaN,Providence,"May 4, 2010",T20I # 160
33,Australia,Bangladesh,Australia,27 runs,Bridgetown,"May 5, 2010",T20I # 161
34,Afghanistan,South Africa,South Africa,59 runs,Bridgetown,"May 5, 2010",T20I # 162
35,England,Pakistan,England,6 wickets,Bridgetown,"May 6, 2010",T20I # 163
...,...,...,...,...,...,...,...
762,Afghanistan,Zimbabwe,Zimbabwe,7 wickets,Chattogram,"Sep 20, 2019",T20I # 890
763,Ireland,Scotland,Ireland,1 run,Dublin (Malahide),"Sep 20, 2019",T20I # 891
764,Bangladesh,Afghanistan,Bangladesh,4 wickets,Chattogram,"Sep 21, 2019",T20I # 892
765,India,South Africa,South Africa,9 wickets,Bengaluru,"Sep 22, 2019",T20I # 893
783,Ireland,Netherlands,Ireland,6 wickets,Al Amerat,"Oct 5, 2019",T20I # 911
786,Pakistan,Sri Lanka,Sri Lanka,64 runs,Lahore,"Oct 5, 2019",T20I # 914
794,Pakistan,Sri Lanka,Sri Lanka,35 runs,Lahore,"Oct 7, 2019",T20I # 922
795,Ireland,Nepal,Ireland,13 runs,Al Amerat,"Oct 9, 2019",T20I # 923
797,Pakistan,Sri Lanka,Sri Lanka,13 runs,Lahore,"Oct 9, 2019",T20I # 925
824,Ireland,Oman,Ireland,35 runs,Tolerance Oval,"Oct 21, 2019",T20I # 952
828,Netherlands,Singapore,Netherlands,5 wickets,ICCA Dubai,"Oct 22, 2019",T20I # 956
835,Netherlands,P.N.G.,P.N.G.,5 wickets,ICCA Dubai,"Oct 24, 2019",T20I # 963
840,Ireland,Jersey,Ireland,8 wickets,Tolerance Oval,"Oct 25, 2019",T20I # 968
844,Ireland,Nigeria,Ireland,8 wickets,Abu Dhabi,"Oct 26, 2019",T20I # 972
850,Australia,Sri Lanka,Australia,134 runs,Adelaide,"Oct 27, 2019",T20I # 978
855,Netherlands,Scotland,Netherlands,4 wickets,Dubai (DSC),"Oct 27, 2019",T20I # 983
860,Australia,Sri Lanka,Australia,9 wickets,Brisbane,"Oct 30, 2019",T20I # 988
864,New Zealand,England,England,7 wickets,Christchurch,"Nov 1, 2019",T20I # 992
865,Australia,Sri Lanka,Australia,7 wickets,Melbourne,"Nov 1, 2019",T20I # 993
866,Ireland,Netherlands,Netherlands,21 runs,Dubai (DSC),"Nov 1, 2019",T20I # 994
868,Ireland,Namibia,Ireland,27 runs,Dubai (DSC),"Nov 2, 2019",T20I # 996
869,Netherlands,P.N.G.,Netherlands,7 wickets,Dubai (DSC),"Nov 2, 2019",T20I # 997
870,New Zealand,England,New Zealand,21 runs,Wellington,"Nov 3, 2019",T20I # 998
871,Australia,Pakistan,no result,NaN,Sydney,"Nov 3, 2019",T20I # 999
872,India,Bangladesh,Bangladesh,7 wickets,Delhi,"Nov 3, 2019",T20I # 1000
873,New Zealand,England,New Zealand,14 runs,Nelson,"Nov 5, 2019",T20I # 1001
874,Australia,Pakistan,Australia,7 wickets,Canberra,"Nov 5, 2019",T20I # 1002
875,India,Bangladesh,India,8 wickets,Rajkot,"Nov 7, 2019",T20I # 1007
876,New Zealand,England,England,76 runs,Napier,"Nov 8, 2019",T20I # 1008
877,Australia,Pakistan,Australia,10 wickets,Perth,"Nov 8, 2019",T20I # 1009

In [90]:
df_teams_1.count()

Team_1        532
Team_2        532
Winner        532
Margin        511
Ground        532
Match Date    532
Scorecard     532
dtype: int64

In [91]:
df_teams_2 = results[results['Team_2'].isin(worldcup_teams)]
df_teams_2

,Team_1,Team_2,Winner,Margin,Ground,Match Date,Scorecard
0,Afghanistan,Ireland,Ireland,5 wickets,Colombo (PSS),"Feb 1, 2010",T20I # 128
2,Canada,Ireland,Canada,4 runs,Colombo (SSC),"Feb 3, 2010",T20I # 130
3,New Zealand,Bangladesh,New Zealand,10 wickets,Hamilton,"Feb 3, 2010",T20I # 131
6,Australia,Pakistan,Australia,2 runs,Melbourne,"Feb 5, 2010",T20I # 134
7,Afghanistan,Ireland,Afghanistan,13 runs,Dubai (DSC),"Feb 9, 2010",T20I # 135
8,Canada,Netherlands,Netherlands,6 wickets,Dubai (DSC),"Feb 9, 2010",T20I # 136
11,Kenya,Netherlands,Netherlands,7 wickets,Abu Dhabi,"Feb 11, 2010",T20I # 139
13,Afghanistan,Netherlands,Netherlands,4 wickets,Dubai (DSC),"Feb 12, 2010",T20I # 141
14,Ireland,Netherlands,Ireland,65 runs,Dubai (DSC),"Feb 13, 2010",T20I # 142
15,Afghanistan,Ireland,Afghanistan,8 wickets,Dubai (DSC),"Feb 13, 2010",T20I # 143
16,England,Pakistan,England,7 wickets,Dubai (DSC),"Feb 19, 2010",T20I # 144
17,England,Pakistan,Pakistan,4 wickets,Dubai (DSC),"Feb 20, 2010",T20I # 145
18,Australia,West Indies,Australia,38 runs,Hobart,"Feb 21, 2010",T20I # 146
19,Australia,West Indies,Australia,8 wickets,Sydney,"Feb 23, 2010",T20I # 147
20,New Zealand,Australia,Australia,6 wickets,Wellington,"Feb 26, 2010",T20I # 148
21,New Zealand,Australia,tied,NaN,Christchurch,"Feb 28, 2010",T20I # 149
23,New Zealand,Sri Lanka,New Zealand,2 wickets,Providence,"Apr 30, 2010",T20I # 151
24,West Indies,Ireland,West Indies,70 runs,Providence,"Apr 30, 2010",T20I # 152
25,Afghanistan,India,India,7 wickets,Gros Islet,"May 1, 2010",T20I # 153
26,Bangladesh,Pakistan,Pakistan,21 runs,Gros Islet,"May 1, 2010",T20I # 154
28,Australia,Pakistan,Australia,34 runs,Gros Islet,"May 2, 2010",T20I # 156
30,West Indies,England,West Indies,8 wickets,Providence,"May 3, 2010",T20I # 158
32,England,Ireland,no result,NaN,Providence,"May 4, 2010",T20I # 160
33,Australia,Bangladesh,Australia,27 runs,Bridgetown,"May 5, 2010",T20I # 161
35,England,Pakistan,England,6 wickets,Bridgetown,"May 6, 2010",T20I # 163
37,Australia,India,Australia,49 runs,Bridgetown,"May 7, 2010",T20I # 165
38,West Indies,Sri Lanka,Sri Lanka,57 runs,Bridgetown,"May 7, 2010",T20I # 166
39,New Zealand,Pakistan,New Zealand,1 run,Bridgetown,"May 8, 2010",T20I # 167
41,West Indies,India,West Indies,14 runs,Bridgetown,"May 9, 2010",T20I # 169
42,Australia,Sri Lanka,Australia,81 runs,Bridgetown,"May 9, 2010",T20I # 170
...,...,...,...,...,...,...,...
764,Bangladesh,Afghanistan,Bangladesh,4 wickets,Chattogram,"Sep 21, 2019",T20I # 892
783,Ireland,Netherlands,Ireland,6 wickets,Al Amerat,"Oct 5, 2019",T20I # 911
786,Pakistan,Sri Lanka,Sri Lanka,64 runs,Lahore,"Oct 5, 2019",T20I # 914
789,Oman,Ireland,Oman,43 runs,Al Amerat,"Oct 6, 2019",T20I # 917
792,Nepal,Netherlands,Nepal,4 wickets,Al Amerat,"Oct 7, 2019",T20I # 920
793,Hong Kong,Ireland,Ireland,66 runs,Al Amerat,"Oct 7, 2019",T20I # 921
794,Pakistan,Sri Lanka,Sri Lanka,35 runs,Lahore,"Oct 7, 2019",T20I # 922
796,Oman,Netherlands,Oman,7 wickets,Al Amerat,"Oct 9, 2019",T20I # 924
797,Pakistan,Sri Lanka,Sri Lanka,13 runs,Lahore,"Oct 9, 2019",T20I # 925
799,Hong Kong,Netherlands,Netherlands,37 runs,Al Amerat,"Oct 10, 2019",T20I # 927
808,Hong Kong,Ireland,Ireland,8 wickets,Abu Dhabi,"Oct 18, 2019",T20I # 937
809,Kenya,Netherlands,Netherlands,30 runs,ICCA Dubai,"Oct 18, 2019",T20I # 938
814,Namibia,Netherlands,Netherlands,44 runs,ICCA Dubai,"Oct 19, 2019",T20I # 942
816,U.A.E.,Ireland,U.A.E.,5 wickets,Abu Dhabi,"Oct 19, 2019",T20I # 944
833,Canada,Ireland,Canada,10 runs,Abu Dhabi,"Oct 23, 2019",T20I # 961
846,Bermuda,Netherlands,Netherlands,92 runs,Dubai (DSC),"Oct 26, 2019",T20I # 974
850,Australia,Sri Lanka,Australia,134 runs,Adelaide,"Oct 27, 2019",T20I # 978
858,U.A.E.,Netherlands,Netherlands,8 wickets,Dubai (DSC),"Oct 29, 2019",T20I # 986
860,Australia,Sri Lanka,Australia,9 wickets,Brisbane,"Oct 30, 2019",T20I # 988
864,New Zealand,England,England,7 wickets,Christchurch,"Nov 1, 2019",T20I # 992
865,Australia,Sri Lanka,Australia,7 wickets,Melbourne,"Nov 1, 2019",T20I # 993
866,Ireland,Netherlands,Netherlands,21 runs,Dubai (DSC),"Nov 1, 2019",T20I # 994
870,New Zealand,England,New Zealand,21 runs,Wellington,"Nov 3, 2019",T20I # 998
871,Australia,Pakistan,no result,NaN,Sydney,"Nov 3, 2019",T20I # 999
872,India,Bangladesh,Bangladesh,7 wickets,Delhi,"Nov 3, 2019",T20I # 1000
873,New Zealand,England,New Zealand,14 runs,Nelson,"Nov 5, 2019",T20I # 1001
874,Australia,Pakistan,Australia,7 wickets,Canberra,"Nov 5, 2019",T20I # 1002
875,India,Bangladesh,India,8 wickets,Rajkot,"Nov 7, 2019",T20I # 1007
876,New Zealand,England,England,76 runs,Napier,"Nov 8, 2019",T20I # 1008
877,Australia,Pakistan,Australia,10 wickets,Perth,"Nov 8, 2019",T20I # 1009

In [92]:
df_teams = pd.concat((df_teams_1, df_teams_2))
df_teams.drop_duplicates()
df_teams.count()

Team_1        1005
Team_2        1005
Winner        1005
Margin         967
Ground        1005
Match Date    1005
Scorecard     1005
dtype: int64

In [93]:
df_teams

,Team_1,Team_2,Winner,Margin,Ground,Match Date,Scorecard
0,Afghanistan,Ireland,Ireland,5 wickets,Colombo (PSS),"Feb 1, 2010",T20I # 128
3,New Zealand,Bangladesh,New Zealand,10 wickets,Hamilton,"Feb 3, 2010",T20I # 131
4,Afghanistan,Canada,Afghanistan,5 wickets,Colombo (SSC),"Feb 4, 2010",T20I # 132
6,Australia,Pakistan,Australia,2 runs,Melbourne,"Feb 5, 2010",T20I # 134
7,Afghanistan,Ireland,Afghanistan,13 runs,Dubai (DSC),"Feb 9, 2010",T20I # 135
9,Afghanistan,Scotland,Afghanistan,14 runs,Abu Dhabi,"Feb 10, 2010",T20I # 137
12,Ireland,Scotland,Ireland,37 runs,Dubai (DSC),"Feb 11, 2010",T20I # 140
13,Afghanistan,Netherlands,Netherlands,4 wickets,Dubai (DSC),"Feb 12, 2010",T20I # 141
14,Ireland,Netherlands,Ireland,65 runs,Dubai (DSC),"Feb 13, 2010",T20I # 142
15,Afghanistan,Ireland,Afghanistan,8 wickets,Dubai (DSC),"Feb 13, 2010",T20I # 143
16,England,Pakistan,England,7 wickets,Dubai (DSC),"Feb 19, 2010",T20I # 144
17,England,Pakistan,Pakistan,4 wickets,Dubai (DSC),"Feb 20, 2010",T20I # 145
18,Australia,West Indies,Australia,38 runs,Hobart,"Feb 21, 2010",T20I # 146
19,Australia,West Indies,Australia,8 wickets,Sydney,"Feb 23, 2010",T20I # 147
20,New Zealand,Australia,Australia,6 wickets,Wellington,"Feb 26, 2010",T20I # 148
21,New Zealand,Australia,tied,NaN,Christchurch,"Feb 28, 2010",T20I # 149
22,West Indies,Zimbabwe,Zimbabwe,26 runs,Port of Spain,"Feb 28, 2010",T20I # 150
23,New Zealand,Sri Lanka,New Zealand,2 wickets,Providence,"Apr 30, 2010",T20I # 151
24,West Indies,Ireland,West Indies,70 runs,Providence,"Apr 30, 2010",T20I # 152
25,Afghanistan,India,India,7 wickets,Gros Islet,"May 1, 2010",T20I # 153
26,Bangladesh,Pakistan,Pakistan,21 runs,Gros Islet,"May 1, 2010",T20I # 154
27,India,South Africa,India,14 runs,Gros Islet,"May 2, 2010",T20I # 155
28,Australia,Pakistan,Australia,34 runs,Gros Islet,"May 2, 2010",T20I # 156
29,Sri Lanka,Zimbabwe,Sri Lanka,14 runs,Providence,"May 3, 2010",T20I # 157
30,West Indies,England,West Indies,8 wickets,Providence,"May 3, 2010",T20I # 158
31,New Zealand,Zimbabwe,New Zealand,7 runs,Providence,"May 4, 2010",T20I # 159
32,England,Ireland,no result,NaN,Providence,"May 4, 2010",T20I # 160
33,Australia,Bangladesh,Australia,27 runs,Bridgetown,"May 5, 2010",T20I # 161
34,Afghanistan,South Africa,South Africa,59 runs,Bridgetown,"May 5, 2010",T20I # 162
35,England,Pakistan,England,6 wickets,Bridgetown,"May 6, 2010",T20I # 163
...,...,...,...,...,...,...,...
764,Bangladesh,Afghanistan,Bangladesh,4 wickets,Chattogram,"Sep 21, 2019",T20I # 892
783,Ireland,Netherlands,Ireland,6 wickets,Al Amerat,"Oct 5, 2019",T20I # 911
786,Pakistan,Sri Lanka,Sri Lanka,64 runs,Lahore,"Oct 5, 2019",T20I # 914
789,Oman,Ireland,Oman,43 runs,Al Amerat,"Oct 6, 2019",T20I # 917
792,Nepal,Netherlands,Nepal,4 wickets,Al Amerat,"Oct 7, 2019",T20I # 920
793,Hong Kong,Ireland,Ireland,66 runs,Al Amerat,"Oct 7, 2019",T20I # 921
794,Pakistan,Sri Lanka,Sri Lanka,35 runs,Lahore,"Oct 7, 2019",T20I # 922
796,Oman,Netherlands,Oman,7 wickets,Al Amerat,"Oct 9, 2019",T20I # 924
797,Pakistan,Sri Lanka,Sri Lanka,13 runs,Lahore,"Oct 9, 2019",T20I # 925
799,Hong Kong,Netherlands,Netherlands,37 runs,Al Amerat,"Oct 10, 2019",T20I # 927
808,Hong Kong,Ireland,Ireland,8 wickets,Abu Dhabi,"Oct 18, 2019",T20I # 937
809,Kenya,Netherlands,Netherlands,30 runs,ICCA Dubai,"Oct 18, 2019",T20I # 938
814,Namibia,Netherlands,Netherlands,44 runs,ICCA Dubai,"Oct 19, 2019",T20I # 942
816,U.A.E.,Ireland,U.A.E.,5 wickets,Abu Dhabi,"Oct 19, 2019",T20I # 944
833,Canada,Ireland,Canada,10 runs,Abu Dhabi,"Oct 23, 2019",T20I # 961
846,Bermuda,Netherlands,Netherlands,92 runs,Dubai (DSC),"Oct 26, 2019",T20I # 974
850,Australia,Sri Lanka,Australia,134 runs,Adelaide,"Oct 27, 2019",T20I # 978
858,U.A.E.,Netherlands,Netherlands,8 wickets,Dubai (DSC),"Oct 29, 2019",T20I # 986
860,Australia,Sri Lanka,Australia,9 wickets,Brisbane,"Oct 30, 2019",T20I # 988
864,New Zealand,England,England,7 wickets,Christchurch,"Nov 1, 2019",T20I # 992
865,Australia,Sri Lanka,Australia,7 wickets,Melbourne,"Nov 1, 2019",T20I # 993
866,Ireland,Netherlands,Netherlands,21 runs,Dubai (DSC),"Nov 1, 2019",T20I # 994
870,New Zealand,England,New Zealand,21 runs,Wellington,"Nov 3, 2019",T20I # 998
871,Australia,Pakistan,no result,NaN,Sydney,"Nov 3, 2019",T20I # 999
872,India,Bangladesh,Bangladesh,7 wickets,Delhi,"Nov 3, 2019",T20I # 1000
873,New Zealand,England,New Zealand,14 runs,Nelson,"Nov 5, 2019",T20I # 1001
874,Australia,Pakistan,Australia,7 wickets,Canberra,"Nov 5, 2019",T20I # 1002
875,India,Bangladesh,India,8 wickets,Rajkot,"Nov 7, 2019",T20I # 1007
876,New Zealand,England,England,76 runs,Napier,"Nov 8, 2019",T20I # 1008
877,Australia,Pakistan,Australia,10 wickets,Perth,"Nov 8, 2019",T20I # 1009

In [94]:
df_teams_2010 = df_teams.drop(['Margin', 'Ground','Match Date','Scorecard'], axis=1)

In [95]:
df_teams_2010.head()

        Team_1      Team_2       Winner
0  Afghanistan     Ireland      Ireland
3  New Zealand  Bangladesh  New Zealand
4  Afghanistan      Canada  Afghanistan
6    Australia    Pakistan    Australia
7  Afghanistan     Ireland  Afghanistan

In [96]:
df_teams_2010 = df_teams_2010.reset_index(drop=True)

In [97]:
df_teams_2010

           Team_1        Team_2        Winner
0     Afghanistan       Ireland       Ireland
1     New Zealand    Bangladesh   New Zealand
2     Afghanistan        Canada   Afghanistan
3       Australia      Pakistan     Australia
4     Afghanistan       Ireland   Afghanistan
5     Afghanistan      Scotland   Afghanistan
6         Ireland      Scotland       Ireland
7     Afghanistan   Netherlands   Netherlands
8         Ireland   Netherlands       Ireland
9     Afghanistan       Ireland   Afghanistan
10        England      Pakistan       England
11        England      Pakistan      Pakistan
12      Australia   West Indies     Australia
13      Australia   West Indies     Australia
14    New Zealand     Australia     Australia
15    New Zealand     Australia          tied
16    West Indies      Zimbabwe      Zimbabwe
17    New Zealand     Sri Lanka   New Zealand
18    West Indies       Ireland   West Indies
19    Afghanistan         India         India
20     Bangladesh      Pakistan      Pakistan
21          India  South Africa         India
22      Australia      Pakistan     Australia
23      Sri Lanka      Zimbabwe     Sri Lanka
24    West Indies       England   West Indies
25    New Zealand      Zimbabwe   New Zealand
26        England       Ireland     no result
27      Australia    Bangladesh     Australia
28    Afghanistan  South Africa  South Africa
29        England      Pakistan       England
...           ...           ...           ...
975    Bangladesh   Afghanistan    Bangladesh
976       Ireland   Netherlands       Ireland
977      Pakistan     Sri Lanka     Sri Lanka
978          Oman       Ireland          Oman
979         Nepal   Netherlands         Nepal
980     Hong Kong       Ireland       Ireland
981      Pakistan     Sri Lanka     Sri Lanka
982          Oman   Netherlands          Oman
983      Pakistan     Sri Lanka     Sri Lanka
984     Hong Kong   Netherlands   Netherlands
985     Hong Kong       Ireland       Ireland
986         Kenya   Netherlands   Netherlands
987       Namibia   Netherlands   Netherlands
988        U.A.E.       Ireland        U.A.E.
989        Canada       Ireland        Canada
990       Bermuda   Netherlands   Netherlands
991     Australia     Sri Lanka     Australia
992        U.A.E.   Netherlands   Netherlands
993     Australia     Sri Lanka     Australia
994   New Zealand       England       England
995     Australia     Sri Lanka     Australia
996       Ireland   Netherlands   Netherlands
997   New Zealand       England   New Zealand
998     Australia      Pakistan     no result
999         India    Bangladesh    Bangladesh
1000  New Zealand       England   New Zealand
1001    Australia      Pakistan     Australia
1002        India    Bangladesh         India
1003  New Zealand       England       England
1004    Australia      Pakistan     Australia

[1005 rows x 3 columns]

In [98]:
df_teams_2010.loc[df_teams_2010.Winner == df_teams_2010.Team_1,'winning_team']=1
df_teams_2010.loc[df_teams_2010.Winner == df_teams_2010.Team_2, 'winning_team']=2
df_teams_2010 = df_teams_2010.drop(['winning_team'], axis=1)

In [99]:
final = pd.get_dummies(df_teams_2010, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

In [100]:
final

,Winner,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_Bermuda,Team_1_Canada,Team_1_England,Team_1_Hong Kong,Team_1_ICC World XI,Team_1_India,...,Team_2_P.N.G.,Team_2_Pakistan,Team_2_Scotland,Team_2_Singapore,Team_2_South Africa,Team_2_Sri Lanka,Team_2_U.A.E.,Team_2_West Indies,Team_2_World-XI,Team_2_Zimbabwe
0,Ireland,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,New Zealand,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Afghanistan,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Australia,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,Afghanistan,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Afghanistan,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,Ireland,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
7,Netherlands,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Ireland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Afghanistan,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,England,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
11,Pakistan,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
12,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,Australia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,tied,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Zimbabwe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,New Zealand,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,West Indies,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,India,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Pakistan,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
21,India,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
22,Australia,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
23,Sri Lanka,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,West Indies,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,New Zealand,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26,no result,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,South Africa,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
29,England,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,Bangladesh,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
976,Ireland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
977,Sri Lanka,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
978,Oman,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
979,Nepal,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
980,Ireland,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
981,Sri Lanka,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
982,Oman,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
983,Sri Lanka,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
984,Netherlands,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
985,Ireland,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
986,Netherlands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
987,Netherlands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
988,U.A.E.,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
989,Canada,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
990,Netherlands,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
991,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
992,Netherlands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
993,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
994,England,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
995,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
996,Netherlands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,New Zealand,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,no result,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
999,Bangladesh,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1000,New Zealand,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1001,Australia,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1002,India,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1003,England,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,Australia,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [101]:
X = final.drop(['Winner'], axis=1)
y = final["Winner"]

In [102]:
X.head()

,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_Bermuda,Team_1_Canada,Team_1_England,Team_1_Hong Kong,Team_1_ICC World XI,Team_1_India,Team_1_Ireland,...,Team_2_P.N.G.,Team_2_Pakistan,Team_2_Scotland,Team_2_Singapore,Team_2_South Africa,Team_2_Sri Lanka,Team_2_U.A.E.,Team_2_West Indies,Team_2_World-XI,Team_2_Zimbabwe
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
y.head()

0        Ireland
1    New Zealand
2    Afghanistan
3      Australia
4    Afghanistan
Name: Winner, dtype: object

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [105]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=0)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)

In [106]:
print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.693
Test set accuracy:  0.570

In [107]:
ranking = pd.read_csv('icc_rankings.csv') 
fixtures = pd.read_csv('fixtures.csv')
pred_set=[]

In [108]:
# Loop to add teams to new prediction dataset based on the ranking position of each team
fixtures.insert(1, 'first_position', fixtures['Team_1'].map(ranking.set_index('Team')['Position']))
fixtures.insert(2, 'second_position', fixtures['Team_2'].map(ranking.set_index('Team')['Position']))

#only need the super 8 stages
fixtures = fixtures.iloc[:28, :]
fixtures.tail()

,Round Number,first_position,second_position,Team_1,Team_2,Group,Result
23,1,4.0,14.0,South Africa,Ireland,2.0,NaN
24,1,5.0,9.0,India,Bangladesh,2.0,NaN
25,1,3.0,14.0,England,Ireland,2.0,NaN
26,1,4.0,9.0,South Africa,Bangladesh,2.0,NaN
27,1,8.0,5.0,Afghanistan,India,2.0,NaN

In [109]:
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'Team_1': row['Team_1'], 'Team_2': row['Team_2'], 'winning_team': None})
    else:
        pred_set.append({'Team_1': row['Team_2'], 'Team_2': row['Team_1'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set
pred_set.tail()

          Team_1       Team_2 winning_team
23  South Africa      Ireland         None
24         India   Bangladesh         None
25       England      Ireland         None
26  South Africa   Bangladesh         None
27         India  Afghanistan         None

In [110]:
# Get dummy variables and drop winning_team column
pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]


pred_set = pred_set.drop(['Winner'], axis=1)
pred_set.tail()

,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_Bermuda,Team_1_Canada,Team_1_England,Team_1_Hong Kong,Team_1_ICC World XI,Team_1_India,Team_1_Ireland,...,Team_2_P.N.G.,Team_2_Pakistan,Team_2_Scotland,Team_2_Singapore,Team_2_South Africa,Team_2_Sri Lanka,Team_2_U.A.E.,Team_2_West Indies,Team_2_World-XI,Team_2_Zimbabwe
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [111]:
#group matches 
predictions = rf.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 1:
        print("Winner: " + backup_pred_set.iloc[i, 1])
    
    else:
        print("Winner: " + backup_pred_set.iloc[i, 0])
    print("")

Australia and Pakistan
Winner: Pakistan

Netherlands and Sri Lanka
Winner: Sri Lanka

West Indies and New Zealand
Winner: New Zealand

Netherlands and New Zealand
Winner: New Zealand

West Indies and Australia
Winner: Australia

Sri Lanka and Pakistan
Winner: Pakistan

Netherlands and West Indies
Winner: West Indies

New Zealand and Pakistan
Winner: Pakistan

Sri Lanka and Australia
Winner: Australia

Sri Lanka and New Zealand
Winner: New Zealand

West Indies and Pakistan
Winner: Pakistan

Netherlands and Australia
Winner: Australia

West Indies and Sri Lanka
Winner: Sri Lanka

India and South Africa
Winner: South Africa

Ireland and Afghanistan
Winner: Afghanistan

Bangladesh and England
Winner: England

Bangladesh and Afghanistan
Winner: Afghanistan

Ireland and India
Winner: India

South Africa and England
Winner: England

Afghanistan and South Africa
Winner: South Africa

India and England
Winner: England

Ireland and Bangladesh
Winner: Bangladesh

Afghanistan and England
Winner: England

Ireland and South Africa
Winner: South Africa

Bangladesh and India
Winner: India

Ireland and England
Winner: England

Bangladesh and South Africa
Winner: South Africa

Afghanistan and India
Winner: India

In [112]:
semi = [('Australia', 'South Africa'),
            ('England', 'Pakistan')]

In [113]:
def clean_and_predict(matches, ranking, final, logreg):

    # Initialization of auxiliary list for data cleaning
    positions = []

    # Loop to retrieve each team's position according to ICC ranking
    for match in matches:
        positions.append(ranking.loc[ranking['Team'] == match[0],'Position'].iloc[0])
        positions.append(ranking.loc[ranking['Team'] == match[1],'Position'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of matches (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first team is better then this team will be the 'Team_1' team, and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'Team_1': matches[j][0], 'Team_2': matches[j][1]})
        else:
            dict1.update({'Team_1': matches[j][1], 'Team_2': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1
        
        # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['Winner'], axis=1)

    # Predict!
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 1:
            print("Winner: " + backup_pred_set.iloc[i, 1])
        else:
            print("Winner: " + backup_pred_set.iloc[i, 0])
        print("")

In [114]:
clean_and_predict(semi, ranking, final, rf)

South Africa and Australia
Winner: Australia

England and Pakistan
Winner: Pakistan

In [115]:
# Finals
finals = [('Australia', 'Pakistan')]

In [116]:
clean_and_predict(finals, ranking, final, rf)

Australia and Pakistan
Winner: Pakistan

In [117]:
conda install nbconvert

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.